<div class="dashboard-panel">
  <h2>📝 Gestión de las Notas</h2>

  <div *ngIf="mensajeError" class="alerta-error">
    {{ mensajeError }}
  </div>

  <form (ngSubmit)="guardar()">
    <div class="filtros-dashboard">

      <select [(ngModel)]="formSeleccion.alumnoId" name="alumnoId" required style="flex: 1;"
        (change)="alCambiarAlumno()">
        <option [ngValue]="null">-- 1. Selecciona Alumno --</option>
        <option *ngFor="let alu of listaAlumnos" [ngValue]="alu.id">
          {{ alu.nombre }} {{ alu.apellido }}
        </option>
      </select>

      <select [(ngModel)]="formSeleccion.asignaturaId" name="asignaturaId" required style="flex: 1;"
        [disabled]="!formSeleccion.alumnoId">
        <option [ngValue]="null">-- 2. Selecciona Asignatura --</option>
        <option *ngFor="let asig of listaAsignaturasDelAlumno" [ngValue]="asig.idAsignaturaReal">
          {{ asig.nombreAsignatura }}
        </option>
      </select>

      <input type="number" [(ngModel)]="valorNota" name="valorNota" placeholder="Nota (0-10)" required min="0" max="10"
        style="width: 100px;">

      <button type="submit" class="btn-guardar" [disabled]="!valorNota || !formSeleccion.asignaturaId">
        {{ notaIdEditar === 0 ? '💾 Guardar' : '🔄 Actualizar' }}
      </button>

      <button *ngIf="notaIdEditar !== 0" type="button" (click)="limpiar()" class="btn-cancelar">❌</button>
    </div>
  </form>
</div>

<div *ngIf="cargando" class="loading-container">
  <div class="spinner"></div>
  <p>Cargando datos...</p>
</div>

<table class="tabla-datos" *ngIf="!cargando">
  <thead>
    <tr>
      <th>Alumno</th>
      <th>Asignatura</th>
      <th>Nota</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let nota of listaNotas">
      <td>{{ nota.nombreAlumno }}</td>
      <td>{{ nota.nombreAsignatura }}</td>

      <td [style.color]="nota.valor >= 5 ? 'green' : 'red'" style="font-weight: bold;">
        {{ nota.valor }}
      </td>

      <td>
        <button (click)="editar(nota)" class="btn-editar">✏️</button>
        <button (click)="eliminar(nota.id)" class="btn-borrar">🗑️</button>
      </td>
    </tr>
    <tr *ngIf="listaNotas.length === 0">
      <td colspan="4" style="text-align: center; color: #666;">No hay notas registradas. Recuerda matricular alumnos
        primero.</td>
    </tr>
  </tbody>
</table>