/* Estilos específicos para validación */
.input-error {
    border: 2px solid #e74c3c !important;
    /* Rojo intenso */
    background-color: #fce4ec;
}

.msg-error {
    display: block;
    color: #c0392b;
    font-size: 0.8rem;
    margin-top: 4px;
    font-weight: bold;
}

/* Ajuste para que los inputs se alineen bien con los mensajes de error */
.filtros-dashboard>div {
    display: flex;
    flex-direction: column;
}

.badge-nota {
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 12px;
    display: inline-block;
    min-width: 40px;
    text-align: center;
}