/*GLOBAL*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color: #f0f2f5;
    color: #333;
}

/*NAVBAR*/
.navbar{
    background-color: #2c3e50;
    color: white;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

.menu button{
    background: none;
    border: none;
    color: #ecf0f1;
    margin-left: 15px;
    cursor: pointer;
    font-size: 1rem;
    padding: 5px 10px;
    border-radius: 4px;
    transition: 0.3s;
}

.menu button:hover{
    background-color: #34495e;
    color: #3498db; 
}

/*PANELES Y FORMULARIOS*/
.dashboard-panel{
    background: white; 
    padding: 20px; 
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.05); 
    margin-bottom: 20px;
}
.filtros-dashboard { 
    display: flex; 
    gap: 10px; 
    align-items: flex-end; 
    flex-wrap: wrap; 
}
input, select { 
    padding: 10px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
}

/* BOTONES */
.btn-guardar { 
    background: #2ecc71; 
    color: white; 
    border: none; 
    padding: 10px 20px; 
    cursor: pointer; 
    border-radius: 5px; 
}
.btn-editar { 
    background: #f1c40f; 
    border: none; 
    padding: 5px 10px; 
    cursor: pointer; 
    border-radius: 4px; 
    margin-right: 5px; 
}
.btn-borrar { 
    background: #e74c3c; 
    color: white; 
    border: none; 
    padding: 5px 10px; 
    cursor: pointer; 
    border-radius: 4px; 
}
.btn-cancelar { 
    background: #95a5a6; 
    color: white; 
    border: none; 
    padding: 10px; 
    cursor: pointer; 
    border-radius: 5px; 
}

/* TABLAS */
.tabla-datos { 
    width: 100%; 
    border-collapse: collapse; 
    background: white; 
    border-radius: 8px; 
    overflow: hidden; 
}
.tabla-datos th { 
    background-color: #34495e; 
    color: white; 
    padding: 15px; 
    text-align: left; 
}
.tabla-datos td { 
    padding: 12px 15px; 
    border-bottom: 1px solid #ddd; 
}
.tabla-datos tr:hover { 
    background-color: #f1f1f1; 
}
    
