.footer {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: auto;
    border-top: 5px solid #3498db;
    width: 100%;
}

p {
    margin: 5px 0;
}

.subtext {
    font-size: 0.8rem;
    opacity: 0.7;
}