<div class="dashboard-panel">
    <h2>🎓 Mi Perfil: {{ nombreUsuario }}</h2>

    <div *ngIf="cargando" class="loading-container">
        <div class="spinner"></div>
        <p>Calculando tus notas...</p>
    </div>


    <div *ngIf="!cargando && stats" class="animate-fade-in">
        <div class="kpi-container">
            <div class="card-kpi green">
                <h3>🏆 Aprobadas</h3>
                <p class="numero">{{ stats.aprobadas }}</p>
            </div>
            <div class="card-kpi red">
                <h3>🏆 Suspensas</h3>
                <p class="numero">{{ stats.suspensas }}</p>
            </div>


            <div class="card-kpi blue">
                <h3>⭐ Nota Media</h3>
                <p class="numero">{{ stats.promedioGlobal }}</p>
            </div>
            <div class="card-kpi purple">
                <h3>📚 Asignaturas</h3>
                <p class="numero">{{ stats.totalAsignaturas }}</p>
            </div>
        </div>

        <hr>

        <div class="chart-section">
            <h3>📊 Notas por Asignatura</h3>
            <div class="chart-container">
                <ngx-charts-bar-vertical [view]="view" [scheme]="colorScheme" [results]="stats.graficaNotas"
                    [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend"
                    [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel"
                    [yAxisLabel]="yAxisLabel">
                </ngx-charts-bar-vertical>
            </div>
        </div>
        <div class="card-dashboard">
            <h3>📊 Aprobadas, Suspensas, sin calificar</h3>
            <div style="height: 250px;">
                <ngx-charts-pie-chart [scheme]="colorSchemeRatio" [results]="ratioAprobados" [gradient]="true"
                    [legend]="true" [labels]="false" [doughnut]="true">
                </ngx-charts-pie-chart>
            </div>
        </div>
        <div class="card-dashboard">
            <h3>📝 Asignaturas Matriculadas</h3>

            <div *ngIf="asignaturas.length === 0" class="empty-state">
                <p>🎉 ¡Todo corregido!</p>
            </div>
            <ul class="lista-simple" *ngIf="asignaturas.length > 0">
                <li *ngFor="let p of asignaturas">
                    <span>{{ p.nombre }}</span>
                    <small style="color: #666;">({{ p.asignatura }})</small>
                </li>
            </ul>
        </div>
    </div>
</div>