<div class="dashboard-panel">
  <h2>👨‍🎓 Gestión de Alumnos</h2>

  <div *ngIf="mensajeError" class="alerta-error">
    {{ mensajeError }}
  </div>

  <form #formAlu="ngForm" (ngSubmit)="guardar()">
    <div class="filtros-dashboard">
      <input type="text" [(ngModel)]="formAlumno.nombre" name="nombre" required maxlength="50" placeholder="Nombre"
        style="flex: 1;">
      <input type="text" [(ngModel)]="formAlumno.apellido" name="apellido" required maxlength="100"
        placeholder="Apellido" style="flex: 1;">
      <input type="number" [(ngModel)]="formAlumno.edad" name="edad" placeholder="Edad" style="width: 80px;">

      <button type="submit" class="btn-guardar" [disabled]="formAlu.invalid || cargando">
        {{ formAlumno.id === 0 ? '💾 Crear' : '🔄 Actualizar' }}
      </button>

      <button *ngIf="formAlumno.id !== 0" type="button" (click)="limpiar()" class="btn-cancelar">❌</button>
    </div>
  </form>
</div>

<div *ngIf="cargando" class="loading-container">
  <div class="spinner"></div>
  <p>Cargando alumnos...</p>
</div>

<table class="tabla-datos" *ngIf="!cargando">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Edad</th>
      <th style="width: 180px;">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let alumno of listaAlumnos">
      <td>{{ alumno.nombre }}</td>
      <td>{{ alumno.apellido }}</td>
      <td>{{ alumno.edad }}</td>
      <td>
        <button (click)="editar(alumno)" class="btn-editar" title="Editar datos">✏️</button>
        <button (click)="eliminar(alumno.id)" class="btn-borrar" title="Borrar alumno">🗑️</button>

        <button (click)="abrirMatriculas(alumno)" class="btn-matricular" title="Matricular en asignaturas">🎓</button>
      </td>
    </tr>
  </tbody>
</table>

<div class="modal-overlay" *ngIf="modoMatricula">
  <div class="modal-content">
    <h3>🎓 Matrículas de: {{ alumnoSeleccionado.nombre }}</h3>
    <p style="font-size: 0.9em; color: #666;">Selecciona una asignatura para inscribirlo:</p>

    <div class="form-matricula">
      <select [(ngModel)]="asignaturaParaMatricular" style="flex:1; margin-right:5px;">
        <option [ngValue]="null">-- Elegir Asignatura --</option>
        <option *ngFor="let asig of listaAsignaturas" [ngValue]="asig.id">
          {{ asig.clase }}
        </option>
      </select>
      <button (click)="matricular()" class="btn-guardar" [disabled]="!asignaturaParaMatricular">
        ➕ Añadir
      </button>
    </div>

    <hr>

    <h4>Asignaturas actuales:</h4>
    <ul class="lista-asignaturas">
      <li *ngFor="let m of matriculasAlumno">
        {{ m.asignatura }}
        <button (click)="eliminarMatricula(m.id)" class="btn-borrar-peque">🗑️</button>
      </li>
      <li *ngIf="matriculasAlumno.length === 0" style="color:#999; font-style: italic;">
        No está matriculado en nada aún.
      </li>
    </ul>

    <button (click)="cerrarMatriculas()" class="btn-cerrar-modal">Cerrar</button>
  </div>
</div>